DATABASE_URL="postgresql://username:password@localhost:5432/name_db?schema=public"
NEXT_PUBLIC_API_URL="http://localhost:3000/api"
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=YOUR_MIDTRANS_CLIENT_KEY
MIDTRANS_SERVER_KEY=YOUR_MIDTRANS_SERVER_KEY
BLOB_READ_WRITE_TOKEN=YOUR_BLOB_READ_WRITE_TOKEN